html
  head
    div(class="topnav" id="head")
      a(href="/Home.html")="Home "
      a(href="/Quote.html")="Quote "
      a(href="/Accounts.html")="Accounts "
      a(href="/StockList.html")="Stock List"
    style
      include css/AccountList.css
    script
      include js/AccountList.js
    script
      include js/Logout.js

  body(onload="sessionStatus()")
    br
    div(id="accountList")
      each account in accounts
        br
        br
        a(href="/Accounts/"+account.AcctNum id="account")=account.Type + " (" + account.AcctNum + ")"
        br
        a="Balance: $" + account.Balance

    br
    button(id="btnRecommendations" onclick="getRecommendations()")="Get Recommendations"
    br
    br
    a="Looking to open a new account? Please select the type for your new account: "
    br
    br

    select(id="accountTypeSelect")="test"
      each opt in optionList
        option(value=opt)=opt

    button(onclick="openAccount()")="Open Account"
