html
  head
    a="Recommendations for: " + accounts
    br
    br
    style
      include css/AccountList.css

  body
    br
    a="test"
    each account in accounts
      br
      br
      a(href="/Accounts/"+account.AcctNum id="account")=account.Type + " (" + account.AcctNum + ")"
      br
      a="Balance: $" + account.Balance

    br
    br
    a="Looking to open a new account? Please select the type for your new account: "
    br
    select="test"
      each opt in optionList
        option(value=opt)=opt
    button="Open Account"
