html
  head
    div(class="topnav" id="head")
      a(href="/Home.html")="Home "
      a(href="/Quote.html")="Quote "
      a(href="/Accounts.html")="Accounts "
      a(href="/StockList.html")="Stock List"
      
    script
      include js/Logout.js

    a="Recommendations for: " + name
    br
    br
    a="Recommendations are based on other users that invest in similar stocks."

  body
    br
    each result in resultList
      br
      br
      a= "\nStock: " + result.name
      br
      a= "Path count: " + result.count
