html
  head
    div(class="topnav" id="head" num=acctNum)
      a(href="/Home.html")="Home "
      a(href="/Quote.html")="Quote "
      a(href="/Accounts.html")="Accounts "
      a(href="/StockList.html")="Stock List"
    style
      include css/AccountList.css

  a="Test: "+ticker
